<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moneyassistant.expert">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MoneyAssistant"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.intro.IntroActivity" />
        <activity android:name=".ui.transaction.activity.TransactionActivity" />
        <activity android:name=".ui.transaction.activity.AddTransactionActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.account.activity.AccountActivity" />
        <activity android:name=".ui.category.activity.CategoriesActivity" />
        <activity android:name=".ui.category.activity.CategoryActivity" />
        <activity
            android:name=".ui.category.activity.IconsDialog"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog" />

        <service
            android:name=".service.NotificationService"
            android:label="Notify Process"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>